.panel.panel-default
    .panel-heading.heading-to-hide
        h3.panel-title
            strong Suggested friends from {{$ctrl.fetchedUser.natFullName}}
        button.glyphicon(ng-class="{'glyphicon-chevron-up':!isFriendsSearchHidden, 'glyphicon-chevron-down':isFriendsSearchHidden}" ng-click="isFriendsSearchHidden=!isFriendsSearchHidden")
    .collapse(ng-class="!isFriendsSearchHidden ? 'in' : ''")
        .panel-body
            .friends-list.col-xs-12
                ul.nav.nav-tabs
                    li(
                    ng-repeat='friend in $ctrl.FriendsSearchService.friendsList'
                    onclick="event.preventDefault()"
                    ng-click='$ctrl.clickedFriend($index)'
                    ng-class='{active: $index == $ctrl.MarkerMapClickService.markerIndexOfClickedFriend }')
                            a(href="# + '{{$ctrl.MarkerMapClickService.markerIndexOfClickedFriend}}'")
                                img(ng-src='{{ friend.picture.thumbnail }}')
        .tab-content.friend-details(id='{{$ctrl.MarkerMapClickService.markerIndexOfClickedFriend}}')
            .tab-pane.active
                div.chosen-friend-panel(ng-if='$ctrl.MarkerMapClickService.markerIndexOfClickedFriend != null')
                    h4
                        strong {{$ctrl.FriendsSearchService.friendsList[$ctrl.MarkerMapClickService.markerIndexOfClickedFriend].name.title}} {{$ctrl.FriendsSearchService.friendsList[$ctrl.MarkerMapClickService.markerIndexOfClickedFriend].name.first}} {{$ctrl.FriendsSearchService.friendsList[$ctrl.MarkerMapClickService.markerIndexOfClickedFriend].name.last}}
                    div
                        i.fa.fa-mobile
                        span(ng-cloak) &nbsp {{$ctrl.FriendsSearchService.friendsList[$ctrl.MarkerMapClickService.markerIndexOfClickedFriend].phone}}
                    button.btn.btn-default(ng-click='$ctrl.showDialog($ctrl.FriendsSearchService.friendsList[$ctrl.MarkerMapClickService.markerIndexOfClickedFriend])')
                            i.fa.fa-info-circle &nbsp MORE INFO &nbsp
                            i.fa.fa-info-circle