.panel.panel-default
    .panel-heading
        h3.panel-title
            strong Suggested friends from {{$ctrl.fetchedUser.natFullName}}
        button.glyphicon(ng-class="{'glyphicon-chevron-up':!isFriendsSearchHidden, 'glyphicon-chevron-down':isFriendsSearchHidden}" ng-click="isFriendsSearchHidden=!isFriendsSearchHidden")
    .collapse(ng-class="!isFriendsSearchHidden ? 'in' : ''")
        .panel-body
            .friends-list.col-xs-12
                ul.nav.nav-tabs
                    li(
                    ng-repeat='friend in $ctrl.FriendsSearch.friendsList'
                    onclick="event.preventDefault()"
                    ng-click='$ctrl.selectTab($index)'
                    ng-class='{active: $index == $ctrl.FriendsSearch.markerIndexOfClickedFriend }')

                            a(href="# + '{{$ctrl.chosenFriend.id}}'" ng-click="$ctrl.clickedFriend($index)")
                                img(ng-src='{{ friend.picture.thumbnail }}')


        .tab-content.friend-details(id='{{$ctrl.chosenFriend.id}}')
            .tab-pane.active
                div.chosen-friend-panel(ng-if='$ctrl.FriendsSearch.markerIndexOfClickedFriend != null')
                    h4
                        strong {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.title}} {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.first}} {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.last}}
                    div
                        i.fa.fa-mobile
                        span(ng-cloak) &nbsp {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].phone}}
                    button.btn.btn-default(ng-click='$ctrl.showDialog($ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend])')
                            i.fa.fa-info-circle &nbsp MORE INFO &nbsp
                            i.fa.fa-info-circle