.panel.panel-default
    .panel-heading.heading-to-hide
        h3.panel-title
            strong Add User
        button.glyphicon(ng-class="{'glyphicon-chevron-up':!isAddUserHidden, 'glyphicon-chevron-down':isAddUserHidden}" ng-click="isAddUserHidden=!isAddUserHidden")
    .collapse(ng-class="!isAddUserHidden ? 'in' : ''")
        .panel-body
            .row.add-user-form
                .col-xs-6
                    div
                        .form-group
                            label(for='title') Title (select one):
                            span  *
                            select#title.form-control(ng-model='$ctrl.newUser.name.title')
                                option(value='' selected disabled) Please select
                                option Mister
                                option Mr
                                option Miss
                                option Mrs
                        .form-group
                            label(for='gender') Gender:
                            input#gender.form-control(type='text' disabled ng-value='$ctrl.setGender()' placeholder="User's gender")
                        .form-group
                            label(for='first-name') First Name:
                            span.star-text  *
                            input#first-name.form-control(type='text' ng-model='$ctrl.newUser.name.first' placeholder="Type user's first name")
                        .form-group
                            label(for='last-name') Last Name:
                            span.star-text  *
                            input#last-name.form-control(type='text' ng-model='$ctrl.newUser.name.last' placeholder="Type user's last name")
                .col-xs-6
                    div
                        .form-group
                            label(for='age') Your age:
                            span.star-text  *
                            input#age.form-control(type='number' ng-model='$ctrl.newUser.age' placeholder="Type user's age")
                        .form-group
                            label(for='e-mail') E-mail:
                            span.star-text  *
                            input#e-mail.form-control(type='email' ng-model='$ctrl.newUser.email' placeholder='e.g. user@example.com')
                        .form-group
                            label(for='nationality') Nationality (select one):
                            span.star-text  *
                            select#nationality.form-control(ng-model='$ctrl.newUser.nat')
                                option(value='' selected disabled) Please select
                                option(ng-repeat='country in $ctrl.Countries.definedCountriesForDatabaseSearch' value='{{country}}') {{$ctrl.Countries.getCountryFullName(country)}}
                                option OTHER
                        .form-group(ng-class="($ctrl.newUser.nat === null || $ctrl.newUser.nat !== 'OTHER') ? 'hide-other-nationality' : '' ")
                            label(for='other-nationality') Nationality:
                            span.star-text  *
                            input#other-nationality.form-control(type='text' ng-model='$ctrl.newUser.natFullName' placeholder="Type user's Nationality")

            sup
                small.star-text * Field required
            button.btn.btn-primary.btn-block(type="submit" ng-click='$ctrl.userAddForm()') Add user