.ui-grid-cell-contents
    button.btn.btn-default(ng-click="grid.appScope.$ctrl.showDialogEditUserData(row)")
        i.fa.fa-pencil
    button.btn.btn-default(ng-click="grid.appScope.$ctrl.deleteUser(row)")
        i.fa.fa-trash-o
