<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Location</strong>
        </h3>
        <span data-toggle="collapse" data-target="#user-map-panel" class='glyphicon' ng-class="{'glyphicon-chevron-up':!isMapHidden, 'glyphicon-chevron-down':isMapHidden}"
            ng-click="isMapHidden=!isMapHidden"> </span>
    </div>
    <div class="panel-body in" id="user-map-panel">
        <div class="row">
            <div class="col-xs-12">
                <ng-map zoom="3" center="[{{lat}},{{lng}}]">
                    <marker position="[{{lat}},{{lng}}]" centered='true' />
                </ng-map>
            </div>
        </div>
    </div>
</div>