md-dialog
    md-dialog-content
        .panel.panel-info
            .panel-body.dialog-container
                .picture
                    img(ng-src='{{$ctrl.friend.picture.large}}')
                h3 {{$ctrl.friend.name.title}} {{$ctrl.friend.name.first}} {{$ctrl.friend.name.last}}
                h5 Street: {{$ctrl.friend.location.street}}
                h5 City: {{$ctrl.friend.location.city}}
                h5 State: {{$ctrl.friend.location.state}}
                h5 Country: {{$ctrl.friend.natFullName}}
                hr
                h5 Phone number: {{$ctrl.friend.phone}}
                h5 E-mail: {{$ctrl.friend.email}}
    md-dialog-actions
        button.btn.btn-warning(ng-click='$ctrl.closeDialog()')
              | Close