md-dialog
    md-dialog-content
        .panel.panel-info
            .panel-body.dialog-container
                .picture
                    img(ng-src='{{$ctrl.friendDataToDialog.picture.large}}')
                h3 {{$ctrl.friendDataToDialog.name.title}} {{$ctrl.friendDataToDialog.name.first}} {{$ctrl.friendDataToDialog.name.last}}
                h5 Street: {{$ctrl.friendDataToDialog.location.street}}
                h5 City: {{$ctrl.friendDataToDialog.location.city}}
                h5 State: {{$ctrl.friendDataToDialog.location.state}}
                h5 Postcode: {{$ctrl.friendDataToDialog.location.postcode}}
                h5 Country: {{$ctrl.friendDataToDialog.natFullName}}
                hr
                h5 Phone number: {{$ctrl.friendDataToDialog.phone}}
                h5 E-mail: {{$ctrl.friendDataToDialog.email}}
    md-dialog-actions
        button.btn.btn-warning(ng-click='$ctrl.closeDialog()')
            | Close